[Unit]
Description=Urban Stats CI Proxy Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/urbanstats/react/ci_proxy/start.sh

[Install]
WantedBy=multi-user.target
