[Unit]
Description=Urban Stats CI Proxy Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=python3 /root/urbanstats/react/ci_proxy/sync.py

[Install]
WantedBy=multi-user.target
