[submodule "named_region_shapefiles/2024Precincts"]
	path = named_region_shapefiles/2024Precincts
	url = git@github.com:kavigupta/2024Precincts.git
[submodule "named_region_shapefiles/CanadaGeneralElections"]
	path = named_region_shapefiles/CanadaGeneralElections
	url = git@github.com:kavigupta/CanadaGeneralElections.git
