
git+https://github.com/kavigupta/python-overpy@master
shapely==2.0.2
cdsapi
xarray
suncalc
protobuf==5.28.3
geotiff
imagecodecs
fire
git+https://github.com/kavigupta/python-us.git
jellyfish==1.1.0
pycountry
geopandas==0.10.2
# pygeos being installed is ABSOLUTELY NECESSARY if you want
# to be able to load old caches
# if not included, you will get an error with unpickling.
pygeos==0.14.0
# necessary for the geopandas version
fiona==1.9.6
pandas==1.3.4
numpy==1.26.4
permacache==3.9.0
more_itertools
cached_property
scipy
matplotlib==3.5.3
disjoint_union==0.4.4
openpyxl==3.1.3
netCDF4==1.6.5
grpcio-tools==1.68.1

# only for linting/testing
pylint==3.3.1
black==23.1.0
isort==5.13.2
pytest==8.3.4
parameterized==0.9.0
