.main_panel {
    position: relative;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.main_panel_mobile {
    padding-left: 1em;
    padding-right: 1em;
}

.left_panel {
    width: 20%;
    float: left;
}

.right_panel {
    width: 80%;
    padding-left: 2em;
}

.left_panel_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 20%;
}

.right_panel_top {
    flex-grow: 1;
    padding-left: 1em;
}

.content_panel_mobile {
    width: 100%;
}

.top_panel {
    position: relative;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

.body_panel {
    position: relative;
    width: 100%;
    display: flex;
}

.gap {
    margin-block-end: 2em;
}

.hgap {
    margin-inline-end: 1em;
}

.gap_small {
    margin-block-end: 0.7em;
}

.serif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.searchbox-dropdown {
    position: absolute;
    width: 75%;
    max-height: 20em;
    overflow-y: auto;
    background-color: #ebebff;
    border: 1px solid #bbb;
    border-radius: 0.25em;
    z-index: 1;
}

.searchbox-dropdown-item {
    padding: 0.5em;
    cursor: pointer;
}

.searchbox-dropdown-item-focused {
    background-color: #dadaff;
}

.logo {
    height: 60px;
}