@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

.right_panel {
    width: 80%;
    padding-left: 2em;
}

.left_panel_top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right_panel_top {
    flex-grow: 1;
    padding-left: 1em;
}

.content_panel_mobile {
    width: 100%;
}

.top_panel {
    position: relative;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

.gap {
    margin-block-end: 2em;
}

.hgap {
    margin-inline-end: 1em;
}

.gap_small {
    margin-block-end: 0.7em;
}

.serif {
    font-family: 'Jost', 'Arial', sans-serif;
}

button, select {
    font-family: 'Jost', 'Arial', sans-serif;
    background-color: var(--slightly-different-background);
    border-radius: 5px;
    color: var(--text-main);
    border: 1px solid var(--ordinal-text-color);
}

button:hover:not(:disabled) {
    background-color: var(--slightly-different-background-focused);
}

button:disabled {
    color: var(--ordinal-text-color);
    border: 1px solid var(--border-non-shadow);
}

.centered_text {
    font-family: 'Jost', 'Arial', sans-serif;
    text-align: center;
}

.user_input {
    white-space: pre-wrap; /* So that multiline strings display */
}

.h1 {
    font-size: 1.5em;
}

.h2 {
    font-size: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.checkbox-setting label {
    position: relative;
    vertical-align: middle;
}

input[type=checkbox] {
    vertical-align: middle;
}

input[type=text], textarea {
    background-color: var(--background);
    border-radius: 5px;
    color: var(--text-main);
    border: 1px solid var(--ordinal-text-color);
    font-family: 'Jost', 'Arial', sans-serif;
}

input[type=text]:disabled, textarea:disabled {
    opacity: 0.5;
}

.syau-searchbox::placeholder {
    color: var(--text-main)
}
