* {
    box-sizing: border-box;
}

body {
    background-color: #fff8f0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill a {
    width: 50%;
    min-height: 100%
}

.headertext {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.headertext_mobile {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.subheadertext {
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.subheadertext_mobile {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.quiztext {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.quiztext_mobile {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.quiztext_nested {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.quiztext_mobile_nested {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.value {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.ordinal {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    margin: 0;
}

.tableheader {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    font-weight: 500;
}

.button {
    font: 8pt Arial;
    font-weight: 500;
    text-decoration: none;
    color: #222;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.button_related {
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 8pt;
    color: #000;
}

.button_related_mobile {
    font-size: 12pt;
}

.button_random {
    display: block;
    height: 100%;
}

.searchresults {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchresults li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #fff8f0;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

.searchresults li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

.party_result_D {
    color: #5a7dc3;
}

.party_result_R {
    color: #f96d6d;
}