* {
    box-sizing: border-box;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill a {
    width: 50%;
    min-height: 100%
}

.headertext {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.headertext_mobile {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.subheadertext {
    font-size: 40px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.subheadertext_mobile {
    font-size: 30px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.quiztext {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.quiztext_mobile {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.quiztext_nested {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.quiztext_mobile_nested {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.value {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ordinal {
    font-size: 14px;
    font-style: italic;
    color: #444;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 18px;
    font-style: italic;
    color: #444;
    margin-top: 24px;
    padding: 0;
}

.tableheader {
    border-bottom: 1pt solid black;
    font-weight: bold;
}

.button {
    font: bold 8pt Arial;
    text-decoration: none;
    color: #222;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.button_mobile {
    font: bold 12pt Arial;
}

.button_random {
    display: block;
    height: 100%;
}

.b_state {
    /* grey */
    background-color: #ddd;
}

.b_county {
    /* red */
    background-color: #fcc;
}

.b_ccd {
    /* purple */
    background-color: #dcf;
}

.b_csa {
    /* cyan-blue */
    background-color: #cef;
}

.b_msa {
    /* cyan */
    background-color: #dff;
}

.b_city {
    /* yellow */
    background-color: #ffc;
}

.b_neighborhood {
    /* orange */
    background-color: #fec;
}

.b_zip {
    /* green */
    background-color: #cfc;
}

.b_congressional_district {
    /* magenta */
    background-color: #fcf;
}

.b_state_house_district {
    /* purple */
    background-color: #ecf;
}

.b_state_senate_district {
    /* anti-purple */
    background-color: #fce;
}

.b_historical_congressional_district {
    /* light magenta */
    background-color: #fef;
}

.b_native_area {
    /* lime */
    background-color: rgb(243, 255, 204);
}

.b_native_statistical_area {
    /* lime */
    background-color: rgb(243, 255, 204);
}

.b_native_subdivision {
    /* dark lime */
    background-color: rgb(234, 255, 164);
}

.b_school_district {
    /* light blue */
    background-color: rgb(202, 225, 230);
}

.b_judicial_district {
    /* light purple */
    background-color: rgb(240, 224, 255);
}

.b_judicial_circuit {
    /* light purple */
    background-color: rgb(230, 204, 255);
}

.b_media_market {
    /*light orange*/
    background-color: rgb(255, 223, 204);
}

.b_urban_area {
    /* light yellow */
    background-color: rgb(255, 255, 204);
}

.main_page_header {
    font-size: 35px;
    font-weight: bold;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    margin-right: 0.2em;
}

.searchbox {
    font-size: 30px;
    border: 1px solid #444;
    padding-left: 1em;
    width: 100%;
    vertical-align: middle;
    height: 50px;
}

.searchresults {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchresults li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

.searchresults li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

.party_result_D {
    color: #44c;
}

.party_result_R {
    color: #c44;
}