* {
    box-sizing: border-box;
}

body {
    background-color: #fff8f0;
}

input {
    background-color: #fff8f0;
}

select {
    background-color: #fff8f0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill a {
    width: 50%;
    min-height: 100%
}

.headertext {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.headertext_mobile {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.subheadertext {
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.subheadertext_mobile {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.quiztext {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.quiztext_mobile {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.value {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.ordinal {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    margin: 0;
}

.tableheader {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    font-weight: 500;
}

.button {
    font: 8pt Arial;
    font-weight: 500;
    text-decoration: none;
    color: #222;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.button_related {
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 8pt;
    color: #000;
}

.button_related_mobile {
    font-size: 12pt;
}
