.ussEditor {
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
}

.ussEditor .number {
    color: blue;
}

.ussEditor .string {
    color: green;
}

.ussEditor .error {
    color: red
}
