/* Style fullscreen/shrink controls to match "Zoom to" controls */
.maplibregl-ctrl-top-left .maplibregl-ctrl.maplibregl-ctrl-group:has(.maplibregl-ctrl-fullscreen, .maplibregl-ctrl-shrink) {
    margin: 1em;
    padding: calc((3em - 29px) / 2); /* (height of zoom button + 2*padding of flex container - height of icon)/2 */
    background-color: var(--background);
    box-shadow: none;

    > button:hover:not(:disabled) {
        background-color: var(--slightly-different-background-focused);
    }

    > button.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon {
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M24 16v5.5c0 1.75-.75 2.5-2.5 2.5H16v-1l3-1.5-4-5.5 1-1 5.5 4 1.5-3zM6 16l1.5 3 5.5-4 1 1-4 5.5 3 1.5v1H7.5C5.75 24 5 23.25 5 21.5V16zm7-11v1l-3 1.5 4 5.5-1 1-5.5-4L6 13H5V7.5C5 5.75 5.75 5 7.5 5zm11 2.5c0-1.75-.75-2.5-2.5-2.5H16v1l3 1.5-4 5.5 1 1 5.5-4 1.5 3h1z'/%3E%3C/svg%3E");
        background-color: var(--text-main);
        background-image: none;
    }

    > button.maplibregl-ctrl-shrink .maplibregl-ctrl-icon {
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cpath d='M18.5 16c-1.75 0-2.5.75-2.5 2.5V24h1l1.5-3 5.5 4 1-1-4-5.5 3-1.5v-1zM13 18.5c0-1.75-.75-2.5-2.5-2.5H5v1l3 1.5L4 24l1 1 5.5-4 1.5 3h1zm3-8c0 1.75.75 2.5 2.5 2.5H24v-1l-3-1.5L25 5l-1-1-5.5 4L17 5h-1zM10.5 13c1.75 0 2.5-.75 2.5-2.5V5h-1l-1.5 3L5 4 4 5l4 5.5L5 12v1z'/%3E%3C/svg%3E");
        background-color: var(--text-main);
        background-image: none;
    }
}

.maplibregl-ctrl-attrib {
    transform: scale(0.85);
    transform-origin: bottom right;
}