.quiz_clickable {
  display: block;
  border-radius: 1em;
  background-color: var(--quiz-plain-bg);
  margin: 0.25em;
  height: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .quiz_clickable:hover {
    background-color: var(--quiz-selected-bg);
    color: var(--text-main-opposite);
  }
}

.quiz_correct {
  background-color: var(--quiz-correct);
  color: #000;
}

.quiz_correct:hover {
  background-color: var(--quiz-correct);
  color: #000;
}

.quiz_incorrect {
  background-color: var(--quiz-incorrect);
  color: #000;
}

.quiz_incorrect:hover {
  background-color: var(--quiz-incorrect);
  color: #000;
}

.quiz_results_question {
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 1.25em;
}

.quiz_result_name_left {
  width: 35%;
  text-align: right;
  vertical-align: middle;
}

.quiz_result_value_left {
  width: 10%;
  text-align: right;
  font-weight: 500;
  vertical-align: middle;
}

.quiz_result_symbol {
  width: 5%;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.quiz_result_value_right {
  width: 10%;
  text-align: left;
  font-weight: 500;
  vertical-align: middle;
}

.quiz_result_name_right {
  width: 35%;
  text-align: left;
  vertical-align: middle;
}

.quiz_summary {
  text-align: center;
  font-size: 2em;
  display: table;
  margin: 0 auto;
}

.quiz_footer {
  table-layout: fixed;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 3em;
}

.quiz_barchart {
  margin: 0 auto;
}

.quiz_bar_td {
  height: 1.5em;
  vertical-align: middle;
  font-size: 1em;
}

.quiz_bar {
  padding-left: 0.5em;
  float: left;
  vertical-align: middle;
  height: 1.5em;
  font-size: 1em;
}

.quiz_stat {
  padding-left: 0.5em;
  float: left;
  vertical-align: middle;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1em;
}