:root {
  --quiz-plain-bg: #e6e9ef;
  --quiz-selected-bg: #4e525a;
  --quiz-correct: #8ac35a;
  --quiz-incorrect: #f96d6d;
  --quiz-statistics: #5a7dc3;
}

.text_quiz_correct {
  color: var(--quiz-correct);
}

.text_quiz_incorrect {
  color: var(--quiz-incorrect);
}

.quiz_clickable {
  display: block;
  border-radius: 1em;
  background-color: var(--quiz-plain-bg);
  margin: 0.25em;
  height: 100%;
}

.quiz_clickable:hover {
  background-color: var(--quiz-selected-bg);
  color: #fff;
}

.quiz_correct {
  background-color: var(--quiz-correct);
}

.quiz_correct:hover {
  background-color: var(--quiz-correct);
  color: #000;
}

.quiz_incorrect {
  background-color: var(--quiz-incorrect);
}

.quiz_incorrect:hover {
  background-color: var(--quiz-incorrect);
  color: #000;
}

.quiz_red {
  background-color: var(--quiz-incorrect);
}

.quiz_green {
  background-color: var(--quiz-correct);
}

.quiz_blank {
  background-color: var(--quiz-plain-bg);
}


.quiz_selected {
  background-color: var(--quiz-selected-bg);
  color: #fff;
}

.quiz_question_table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.quiz_results_question {
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 1.25em;
}

.quiz_results_table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: separate;
  border-spacing: 0.1em;
  font-size: 1.25em;
  background-color: var(--quiz-plain-bg);
}

.quiz_result_name_left {
  width: 35%;
  text-align: right;
  vertical-align: middle;
}

.quiz_result_value_left {
  width: 10%;
  text-align: right;
  font-weight: bold;
  vertical-align: middle;
}

.quiz_result_symbol {
  width: 5%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.quiz_result_value_right {
  width: 10%;
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}

.quiz_result_name_right {
  width: 35%;
  text-align: left;
  vertical-align: middle;
}

.quiz_summary {
  text-align: center;
  font-size: 2em;
  display: table;
  margin: 0 auto;
}

.quiz_copy_button {
  text-align: center;
  font-size: 2em;
  display: table;
  margin: 0 auto;
}

.quiz_footer {
  table-layout: fixed;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 3em;
}

.quiz_overlay_text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 10000;
}

.quiz_overlay_text_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz_barchart {
  margin: 0 auto;
}

.quiz_bar_td {
  height: 1.5em;
  vertical-align: middle;
  font-size: 1em;
}

.quiz_bar_td_header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.quiz_bar {
  padding-left: 0.5em;
  float: left;
  vertical-align: middle;
  height: 1.5em;
  background-color: var(--quiz-statistics);
  font-size: 1em;
}

.quiz_bar_centered {
  text-align: center;
}

.quiz_stat {
  padding-left: 0.5em;
  float: left;
  vertical-align: middle;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1em;
}