.related_areas {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1em;
}

.list_of_lists {
    /* display: inline-block; */
    padding-inline-start: 0px;
    list-style-type: none;
    flex-grow: 1;
    margin: 0;
}

.linklist {
    display: inline-block;
    padding-inline-start: 0px;
    list-style-type: none;
    flex-grow: 1;
    margin: 0.1em;
}

.linklistel {
    min-height: 13pt;
    float: left;
    padding-right: 0.3em;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
}

.linklistel_mobile {
    min-height: 20pt;
    margin-top: 0px;
    margin-bottom: 0px;
}
