
.sidebar-section-content {
   margin-left: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-section-content a {
    text-decoration: none;
}

.sidebar-section-content li {
    margin-bottom: 0.5rem;
}

.sidebar-section-content_mobile li {
    margin-bottom: 0.75rem;
}

.sidebar-section-title_mobile {
    margin-bottom: 0.75rem;
}

.sidebar_mobile input {
    transform: scale(1.6);
}

.sidebar_mobile label {
    padding-left: 0.5em;
}