
.sidebar {
    /*add some space to the left*/
    background-color: #f8f8f8;
    padding: 2rem;
    font-size: 12pt;
}

.sidebar_mobile {
    /*add some space to the left*/
    background-color: #eee;
    padding: 2rem;
    font-size: 20pt;
}

.sidebar-section-title {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    color: #444;
}

.sidebar-section-content {
   margin-left: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-section-content a {
    color: #22f;
    text-decoration: none;
}

.sidebar-section-content li {
    margin-bottom: 0.5rem;
}

.sidebar-section-content_mobile li {
    margin-bottom: 0.75rem;
}

.sidebar-section-title_mobile {
    margin-bottom: 0.75rem;
}

.sidebar_mobile input {
    transform: scale(1.6);
}

.sidebar_mobile label {
    padding-left: 0.5em;
}