[Unit]
Description=Urban Stats CI API Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/root/urbanstats/ci_api/run.sh

[Install]
WantedBy=multi-user.target
