name: check
on:
  push:
    branches:
      - main
  pull_request:
env:
  # This is used in ci_proxy, do not remove. It is necessary so that
  # we can test against non-production data
  URBANSTATS_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  FORCE_COLOR: 1
  SPARSE_CHECKOUT: |
    !named_region_shapefiles/*
    !outputs/*
    /*
jobs:
  build-and-push-common-image:
    runs-on: ubuntu-22.04
    outputs:
      image: ${{ steps.image.outputs.image }}
    permissions:
      packages: write
    steps:
      - &checkout
        name: Checkout repository
        uses: nick-fields/retry@v3
        with:
          max_attempts: 2
          timeout_minutes: 2
          shell: bash
          command: |
            rm -rf $GITHUB_WORKSPACE/*

            git config --global --add safe.directory $GITHUB_WORKSPACE

            # Clone the repo
            git clone --no-checkout --filter=blob:none ${{ github.server_url }}/${{ github.repository }}.git $GITHUB_WORKSPACE

            # Enable sparse checkout
            git config core.sparseCheckout true

            # Configure sparse checkout
            echo "$SPARSE_CHECKOUT" > .git/info/sparse-checkout

            # Check out the ref
            git checkout --progress --force ${{ github.sha }}

      - uses: ./.github/actions/docker_image
        with:
          dockerfile: Dockerfile
          token: ${{ secrets.GITHUB_TOKEN }}
        id: image

  build-and-push-e2e-image:
    runs-on: ubuntu-22.04
    outputs:
      image: ${{ steps.image.outputs.image }}
    permissions:
      packages: write
    steps:
      - *checkout

      - uses: ./.github/actions/docker_image
        with:
          dockerfile: react/test/Dockerfile
          token: ${{ secrets.GITHUB_TOKEN }}
        id: image

  lint:
    runs-on: ubuntu-22.04
    needs: build-and-push-common-image
    container:
      image: ${{ needs.build-and-push-common-image.outputs.image }}
    env:
      SPARSE_CHECKOUT: |
        !outputs/*
        /*
    steps:
      - *checkout
      - uses: lukebrody/nothing-action@master # Without this, the below actions don't work. This is a bug in Github
      - uses: ./.github/actions/python_environment
      - uses: ./.github/actions/node_modules
      - name: Lint with pylint
        run: python -m pylint --prefer-stubs=true $(git ls-files '*.py' ':!:legacy')
        if: "!cancelled()" # Runs even if other steps fail
      - name: Lint with vulture
        run: python ./scripts/vulture.py
        if: "!cancelled()"
      - name: format
        run: ./scripts/format-python.sh
        if: "!cancelled()"
      - name: check if there are any changes
        # if there are, print the diff and exit with an error
        # this is needed because isort and black disagree on the formatting of some files, so we run both and check
        # if there's a difference
        run: bash -c '[ $(git status --porcelain --untracked-files=no | wc -c) -eq 0 ]  || (git status; git diff; exit 1)'
        if: "!cancelled()"
      - name: typecheck
        run: mypy --strict urbanstats-persistent-data/urbanstats_persistent_data
        if: "!cancelled()"
      - run: npm run lint:ci
        working-directory: react
        if: "!cancelled()"

  build-frontend:
    runs-on: ubuntu-22.04
    needs: build-and-push-common-image
    container:
      image: ${{ needs.build-and-push-common-image.outputs.image }}
    steps:
      - *checkout
      - uses: ./.github/actions/python_environment
      - uses: ./.github/actions/node_modules
      - run: python3 create_website.py --mode ci --target scripts --site-folder react/test/density-db
      - uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: react/test/density-db

  list-e2e-tests:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - *checkout
      - uses: ./.github/actions/node_modules
      - id: set-matrix
        run: echo "matrix=$(npx tsx test/scripts/list-e2e-tests.ts --test-durations='${{ vars.E2E_TEST_DURATIONS }}')" >> $GITHUB_OUTPUT
        working-directory: react

  e2e:
    runs-on: ubuntu-22.04
    needs:
      - build-and-push-e2e-image
      - build-frontend
      - list-e2e-tests
    container:
      image: ${{ needs.build-and-push-e2e-image.outputs.image }}
    strategy:
      fail-fast: false
      matrix:
        test-file: ${{ fromJson(needs.list-e2e-tests.outputs.matrix) }}
    timeout-minutes: 30
    steps:
      - *checkout
      - run: git fetch origin ${{ github.base_ref }} --depth=1 # needed so test runner can diff tests against base ref
        if: ${{ github.base_ref != '' }}
      - uses: ./.github/actions/python_environment
      - uses: ./.github/actions/node_modules
      - uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: react/test/density-db
      - name: Run tests
        run: |
          npm run test:e2e -- \
            --proxy=true \
            --browser=chromium \
            --test=test/${{ matrix.test-file }}.test.ts \
            --headless=true \
            --compare=true \
            --time-limit-seconds=600 \
            --base-ref=${{ github.base_ref }}
        working-directory: react
        env:
          URBAN_STATS_TEST_PASSWORD: ${{ secrets.URBAN_STATS_TEST_PASSWORD }}
          URBAN_STATS_TEST_TOTP: ${{ secrets.URBAN_STATS_TEST_TOTP }}
      - uses: actions/upload-artifact@v4
        if: "!cancelled()"
        with:
          name: delta-${{ matrix.test-file }}
          path: react/delta
      - uses: actions/upload-artifact@v4
        if: "!cancelled()"
        with:
          name: changed_screenshots-${{ matrix.test-file }}
          path: react/changed_screenshots
      - uses: actions/upload-artifact@v4
        with:
          name: durations-${{ matrix.test-file }}
          path: react/durations

  merge-screenshots:
    runs-on: ubuntu-22.04
    needs: [e2e]
    if: "!cancelled()"
    steps:
      - uses: actions/upload-artifact/merge@v4
        with:
          name: delta
          pattern: "delta-*"
        continue-on-error: true
      - uses: actions/upload-artifact/merge@v4
        with:
          name: changed_screenshots
          pattern: "changed_screenshots-*"
        continue-on-error: true
      - id: upload-combined
        uses: actions/upload-artifact/merge@v4
        with:
          name: combined
          pattern: "{delta,changed_screenshots}"
          separate-directories: true
        continue-on-error: true
      - if: ${{ steps.upload-combined.outputs.artifact-id != '' && github.event_name == 'pull_request' }}
        uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '[Screenshots merge ${{ github.event.pull_request.head.sha }}](https://urbanstats.org/screenshot-diff-viewer.html?artifactId=${{ steps.upload-combined.outputs.artifact-id }}&hash=${{ github.sha }})\n\n`!updateScreenshots` to update'
            })

  merge-and-save-durations:
    runs-on: ubuntu-22.04
    needs: [e2e]
    if: github.ref_name == github.event.repository.default_branch # We only want results where all tests run
    steps:
      - *checkout
      - uses: ./.github/actions/node_modules
      - uses: actions/download-artifact@v4
        with:
          pattern: "durations-*"
          path: react/durations
          merge-multiple: true
      - run: |
          npx tsx test/scripts/save-durations.ts
        working-directory: react
        env:
          FINE_GRAINED_TOKEN_FOR_VARIABLES: ${{ secrets.FINE_GRAINED_TOKEN_FOR_VARIABLES }}

  run-unit-tests:
    runs-on: ubuntu-22.04
    needs: [build-and-push-common-image]
    container:
      image: ${{ needs.build-and-push-common-image.outputs.image }}
    env:
      SPARSE_CHECKOUT: |
        !outputs/*
        /*
    steps:
      - *checkout
      - uses: lukebrody/nothing-action@master # Without this, the below actions don't work. This is a bug in Github
      - uses: ./.github/actions/python_environment
      - uses: ./.github/actions/node_modules
      - name: Run js tests
        run: |
          npm run test:unit:ci -- \
            --proxy=true \
            --test='unit/*.test.ts'
        working-directory: react
        if: "!cancelled()" # Runs even if other steps fail
      - name: Test python
        run: python -m pytest tests
        if: "!cancelled()"
      - name: Test urbanstats persistent
        working-directory: urbanstats-persistent-data
        run: python -m pytest --cov=. --cov-report=xml --cov-report=term-missing tests
        if: "!cancelled()"

  # Sink job so that github can gate PR merge
  tests-passed:
    runs-on: ubuntu-22.04
    if: ${{ always() }}
    needs:
      - lint
      - run-unit-tests
      - e2e
    steps:
      - name: Tests Failed
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        run: |
          echo "${{ toJSON(needs) }}"
          echo "Tests failed!"
          exit 1
      - name: Tests Succeeded
        run: |
          echo "${{ toJSON(needs) }}"
          echo "Tests succeeded!"
